
@keyframes gradient {
    
    to {
      background-position: 0% 0%;
    }
    from {
      background-position: 100% 100%;
    }
   
  }
.main {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  /*   background-image: url(/images/PS.png);
    background-repeat: repeat;
    background-size: 10%;
    background-attachment: fixed;
    background-position: 0 0;
    animation: gradient 20s linear infinite running; */
}
